In [1]:
import pandas as pd

In [6]:
# Specify the path to your TSV file
file_path = '/Users/danae/Downloads/iPSYCH-PGC_ASD_Nov2017'

# Read the TSV file into a pandas DataFrame
df = pd.read_csv(file_path, sep='\t', low_memory=False)

# Display the first few rows to verify
df.head()
# Print the dimensions of the DataFrame
print(df.shape)

(9112386, 9)

In [8]:
#check for duplicate SNPs -although most QC steps for base data seem to have been performed by the authors of te respective paper
# Get unique SNPs in the 'SNP' column
unique_snps = df['SNP'].unique()

# Display the unique SNPs
len(unique_snps)

9112386

In [4]:
#according to Anney et al. (2012), this SNP achieves the lowest p-value
# Filter the dataframe to find the row(s) containing the specific SNP
snp_data = df[df['SNP'] == "rs1718101"]

# Display the result
snp_data

         CHR        SNP         BP A1 A2   INFO       OR      SE        P
6092957    7  rs1718101  146122788  T  C  0.879  1.07144  0.0328  0.03558

In [1]:
#performed ambiguous SNP removal via terminal

# awk '!( ($4=="A" && $5=="T") || \
#         ($4=="T" && $5=="A") || \
#         ($4=="G" && $5=="C") || \
#         ($4=="C" && $5=="G")) {print}' /Downloads/iPSYCH-PGC_ASD_Nov2017 > /Users/Downloads/iPSYCH-PGC_ASD_Nov2017_filtered.txt

# Specify the path to filtered text file
file_path = '/Downloads/iPSYCH-PGC_ASD_Nov2017_filtered.txt'

# Load the data into a pandas DataFrame
df = pd.read_csv(file_path, sep='\t', low_memory=False)

   CHR         SNP         BP A1 A2   INFO       OR      SE         P
0    8  rs62513865  101592213  T  C  0.949  1.00652  0.0270  0.808600
1    8  rs79643588  106973048  A  G  0.997  1.01786  0.0240  0.460600
2    8  rs17396518  108690829  T  G  0.987  0.96127  0.0140  0.004647
3    8    rs983166  108681675  A  C  0.998  0.97990  0.0139  0.145200
4    8  rs28842593  103044620  T  C  0.857  0.99591  0.0203  0.841500

In [4]:
# Print total number of base data SNPs
df.shape

(7851684, 9)